@import "tailwindcss";

/* Custom base styles */

body {
  font-family: system-ui, -apple-system, sans-serif;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  color: #111827;
  background-color: #f9fafb;
}
